<div class="ui middle aligned center aligned grid" style="margin-top:20px;">
    <div class="column" style="width: 750px;">

        <div class="ui placeholder segment">
            <div class="ui internally celled grid">

                <div class="five wide column">
                    <div class="ui centered card">

                        <img style="height: 100%; width: 100%;" src="<%= publication.imageUrl %> ">


                    </div>

                </div>
                <div class="eleven wide column">

                    <div class="ui card" style="box-shadow: none;background-color: transparent;height: 100%;width: 100%;">
                        <div class="content" align="justify">
                          <div class="header">
                            <h1 style="margin: 0px;">
                              <%= publication.name %>
                            </h1>

                          </div>
                          <div class="meta">
                            <a>

                            </a>

                          </div>

                          <div class="description">
                            <h4>
                                <%= publication.description %>
                              </h4>
                          </div>



                        </div>

                        <div class="extra">
                          <button class="ui button">Edit</button>

                        </div>
                      </div>

                </div>

            </div>
        </div>






    </div>
</div>

<h4 class="ui horizontal divider header">
    <i class="book icon"></i>
    Books from this publication
</h4>