<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= pageTitle %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- include('includes/styles.ejs') %>
    </head>

    <body>
      <%- include('includes/navbar.ejs') %>
      <h1>500 Internal Server Error. We are working on a fix. Sorry for the inconvenience.</h1>
    </body>
</html>